body {
    background-color: black;
}

.logo img {
    width: 150px;
    height: 100px;
}

.sign {
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: end;
    float: right;
}

.form form {
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: end;
    float: right;

}
.nav{
    color: white;
    text-align: center;
}
.content img{
    width: 150px;
}
